*{
	padding: 0;
	maring: 0;
}

body {
	font-family: "calibri", sans-serif;
	background-size: cover;
	font-size: 16px; /*1em=16px*/

}

h1 {color: #3B694F;
	font-family: "calibri", sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 6em;
	line-height: .05em;
}

p {color: gray;
	font-family: "georgia", serif;
	font-size:1em;
	width:40em;
	line-height: 1.5em;
}

a, h2, h3, h4 {
	color: #3DE888;
}

main {
	padding: 3em;
}


nav {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

nav a {
	color: #3B694F;
	text-decoration: none;
	margin-right: 15px;
}

nav a:hover {
	color: #3DE888;
}


button{
  margin:auto;
  display:block;
}

footer {
	background-color: black;
	padding: 30px;
	text-align: center;
}

hr {
	border:none;
	height:.1em;
	background-color:#244030;
}

img.hero {
	display:inline-block;
	margin:2em auto;
	width:25%;
	padding:1.3em;
}


#slogan {
	text-align: center;
	line-height: .05em;
}

