@import url('https://fonts.googleapis.com/css?family=Pridi|Syncopate:700');

*{
	padding: 0;
}

body {
	font-family: "calibri", sans-serif;
	background-size: cover;
	font-size: 16px; /*1em=16px*/

}

h1 {color: #3B694F;
	font-family: 'Syncopate', "calibri", sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 4.5em;
	line-height: .01em;
}

h2 {
	font-family: 'century gothic', sans-serif;
	font-size:1.5em;
	color: #65686d;
}

p {color: gray;
	font-family: 'Pridi',"georgia", serif;
	font-size:1em;
	width:40em;
	line-height: 1.5em;
}

a, h3, h4 {
	color: #3DE888;
	line-height:1em;
}

main {
	padding: 3em;
}


nav, footer {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 1.1em;
}

nav a {
	color: #3B694F;
	text-decoration: none;
	margin-right: 15px;
}

nav a:hover {
	color: #3DE888;
}


button{
  margin:auto;
  display:block;
  background-color: #3DE888;
  border: none;
  padding: .8em 1.6em;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

footer {
	background-color: #3B694F;
	padding: 2em;
	text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
}

footer a:hover {
	color: #3DE888;
}

hr {
	border:none;
	height:.1em;
	background-color:#244030;
}

img.hero {
	display:inline-block;
	margin:2em auto;
	width:25%;
	padding:1.15em;
}


#slogan {
	text-align: center;
	line-height: .01em;
	padding-bottom:2em;
}

