@import url('https://fonts.googleapis.com/css?family=Pridi|Syncopate:700');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "calibri", sans-serif;
	background-size: cover;
	font-size: 16px; /*1em=16px*/

}

h1 {
	color: #3B694F;
	font-family: 'Syncopate', "calibri", sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 4.5em;
	line-height: .01em;
}

h2 {
	font-family: 'century gothic', sans-serif;
	font-size:1.5em;
	color: #65686d;
}

p {
	color: gray;
	font-family: 'Pridi',"georgia", serif;
	font-size:1em;
	/* width:40em; */
	line-height: 1.5em;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
nav a {
	color:#fff;
	text-decoration:none;
}
#intro {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#slogan {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

.wrapper {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#who_we_are {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#modalities {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}
#modalities section {
    background-color: #de8e19;
    border: 1px black solid;
    padding: 20px;
    width: 33.33%;
}

#philosophy {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#improvement {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#get_there {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}



img.hero {
	display:inline-block;
	margin:2em auto;
	width:25%;
	padding:1.15em;
}

#philosophy_image {
	display:inline-block;
	width: 25%;
}

#improvement_image {
	display:inline-block;
	width: 25%;
}


